:root {
    --color-blue300: #111d4a;
    --color-green: #8abc80;
    --color-red: #fa8780;
    --color-orange: #e8c08a;
    --color-yellow: #edd921;
    --color-gray: #eeeeee;
    --color-gray100: #ddd;
    --color-grayBlue: #3b3d53;
    --font-bungee: "Bungee Inline", cursive, serif;
    --font-lato: "Lato", sans-serif;
}

/* ========== RESET & DEFAULT ========== */

*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========== BODY ========== */

body {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    font-family: var(--font-lato);
    color: var(--color-gray);

    background-color: #ccc;
}

.body-background {
    background-color: #111d4a;
}

.body-background::after {
    content: "";
    background-image: url(assets/image/body-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-size: cover;

    z-index: -1;
}

.logged-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--color-gray);
}

a:hover {
    color: var(--color-yellow);
    text-decoration: underline;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

a:active {
    color: var(--color-green);
}

img {
    width: 100%;
    height: auto;
}

/* ========== HEADER ========== */

header {
    background-color: var(--color-blue300);
    min-width: 100vw;

    height: 125px;
    padding: 15px 80px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.nav-menu {
    list-style: none;
    color: var(--color-gray);
    font-weight: bold;
}

/* ========== CONTENT ========== */

.content {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.home-page {
    margin: 25px 50px;
}

.login-content,
.register-content {
    /* margin: 25px 50px; */
    width: auto;
    padding: 46px 57px 112px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: #eeeeee30;
    box-shadow: 0 0 5px 5px #eeeeee30;

    color: var(--color-gray);
}

/* ========== FORMS ========== */

.login-title,
.register-title {
    width: 300px;
    align-self: flex-start;

    font-family: var(--font-bungee);
    font-size: 36px;
}

.form-title {
    margin: 32px auto 4px;
    font-weight: 900;
}

.login-form,
.register-form,
.logged-form {
    width: 300px;
    margin: 0 auto;
}

.logged-form {
    margin: 0 auto;
    color: var(--color-grayBlue);
}

.login-input-container,
.register-input-container,
.logged-input-container {
    width: 100%;
    margin: 20px 0;
}

.login-input,
.register-input,
.logged-input {
    display: block;

    border-radius: 8px;
    border: 2px solid var(--color-blue100);
    outline: none;

    width: 100%;
    height: 32px;
    padding: 2px 10px;

    font-size: 14px;
    font-family: var(--font-family);
}

.login-input-label,
.register-input-label,
.logged-input-label {
    display: block;

    border-radius: 8px;
    border: none;
    outline: none;

    width: 100%;
    height: 32px;

    font-size: 18px;
    font-weight: bold;
    color: var(--color-gray);
}

.logged-input-label {
    font-weight: 400;
}

.logged-input-container,
.logged-input-label,
.logged-input {
    color: var(--color-grayBlue);
}

.submit-button {
    height: 36px;
    width: 100%;
    margin: 25px 0 10px;

    border-radius: 8px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: bold;
    color: var(--color-gray);
    background-color: var(--color-grayBlue);
}

.submit-button:hover {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-green);

    transition: all 150ms ease-in-out;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
}

.register,
.back-home {
    color: var(--color-gray);

    margin: 10px 0;
}

.register-link {
    font-weight: 900;
}

.back-home-link {
    font-weight: 400;
}

/* ========== MENU ========== */

.side-menu {
    height: 100vh;
    width: 270px;

    background-color: var(--color-blue300);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 50px 0 65px;
}

.menu-title {
    margin: 0 auto;
    width: 190px;

    font-family: var(--font-bungee);
    font-size: 24px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    place-content: center center;
    align-items: center;
    margin-top: 110px;

    width: 100%;
}

.menu-link {
    list-style-type: none;
    padding: 15px 0;
    font-weight: 900;

    width: 100%;

    display: flex;
    justify-content: center;
}

.menu-active {
    background-color: var(--color-grayBlue);
}

.menu-link:first-of-type {
    margin-top: 0;
}

.menu-logout {
    margin-top: auto;
}

/* ========== TABLE ========== */

.page-title {
    color: var(--color-grayBlue);
}

.list-items {
    margin: auto;
    margin-top: 50px;

    align-self: flex-start;
}

.table-list {
    margin: auto;
    margin-top: 25px;
    border-collapse: collapse;

    border-bottom: 3px solid var(--color-blue300);
}

.table-header {
    background-color: var(--color-blue300);
}

.table-header-item {
    border-collapse: collapse;
    padding: 10px 20px;
}

.odd-row {
    background-color: var(--color-gray);
}

.even-row {
    background-color: var(--color-gray100);
}

.table-data-item {
    padding: 7.5px 20px;
    color: var(--color-grayBlue);
    border-bottom: 1px solid var(--color-grayBlue);

    text-align: center;
}

.late-row {
    background-color: var(--color-red);
}

/* ========== FOOTER ========== */

.return-select {
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    background-color: var(--color-gray);

    font-family: var(--font-lato);
    color: var(--color-grayBlue);
    font-size: 18px;

    outline: none;
    border-radius: 8px;
}

.return-option {
    padding: 10px 0;
    min-height: 30px;
    margin: 5px 0;
    font-size: 16px;
}
/* ========== FOOTER ========== */

footer {
    color: var(--color-gray);
    text-align: center;
    min-width: 100vw;
    height: 45px;

    position: absolute;
    bottom: 0;
    left: 0;

    margin-top: auto;
}
